<%= form_with(model: recipe, class: "mt-4") do |form| %>
  <% if recipe.errors.any? %>
    <div class="alert alert-danger">
      <h2><%= pluralize(recipe.errors.count, "error") %> impediram que esta receita fosse salva:</h2>

      <ul>
        <% recipe.errors.full_messages.each do |error| %>
          <li><%= error %></li>
        <% end %>
      </ul>
    </div>
  <% end %>
<br>
  <div class="form-group text-md-start">
    <%= form.label :Nome %>
    <%= form.text_field :title, class: "form-control" %>
  </div>

  <div class="form-group text-md-start">
    <%= form.label :descrição %>
    <%= form.text_area :description, class: "form-control" %>
  </div>

  <div class="form-group text-md-start">
    <%= form.label :ingredientes %>
    <%= form.text_area :ingredients, class: "form-control" %>
  </div>

  <div class="form-group text-md-start">
    <%= form.label :instruções %>
    <%= form.text_area :instructions, class: "form-control" %>
  </div>

  <div class="form-group text-center">
    <%= form.submit "Salvar Alterações", class: "btn btn-primary" %>
  </div>

<% end %>

<link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.11.3/font/bootstrap-icons.min.css">
<script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"></script>
<script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.5.4/dist/umd/popper.min.js"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>

    