<div class="container p-1" id="<%= dom_id(recipe) %>">
  <p class="text-justify mb-0">
  <p style="font-size: 45px; color: #red; line-height: 1.5;  font-family: 'Merienda', sans-serif;">
  <%= recipe.title %>
  </p>
</p>
  </p>

  <p class="text-justify">
  <p class="text-danger h5 text-justify">
    <strong>Descrição:</strong>
    </p>
    <%= recipe.description %>
  </p>

  <p class="text-justify">
  <p class="text-danger h5 text-justify">
    <strong>Igredientes:</strong>
    </p>
    <%= recipe.ingredients %>
  </p>

  <p class="text-justify">
  <p class="text-danger h5 text-justify">
    <strong>Instruções:</strong>
    </p>
    <%= recipe.instructions %>
  </p>

</div>
