<!DOCTYPE html>
<html>
  <head>
    <title>Bookreceitas</title>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= stylesheet_link_tag 'style', 'data-turbo-track': 'reload' %>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
    <%= stylesheet_link_tag "application", "data-turbo-track": "reload" %>
    <%= javascript_importmap_tags %>
    <%= favicon_link_tag 'favi.ico' %>
  </head>

  <body>
  <%= render 'layouts/header' %>
  
  <% flash.each do |message_type, message| %>
    <%= content_tag 'div', class: "alert alert-danger   alert alert-#{message_type} alert-dismissible", role: 'alert' do %>
      <button type="button" class="close" data-dismiss="alert" aria-label="Close">
        <span aria-hidden="true">&times;</span>
      </button>
      <%= message %>
    <% end %>
  <% end %>

  
  <%= yield %>
  
  <%= render 'layouts/footer' %>

  
    </body>  
</html>
